node_modules/
.output/
.vinxi/
app.config.timestamp_*.js
.nitro/
dist/

.npm-cache/

*.tsbuildinfo

.turbo/

.env
.env.*
!.env.example

npm-debug.log*

coverage/

.vercel/

.DS_Store

.idea/

.vscode/*
!.vscode/extensions.json

*.pem
